
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2017, 03:14:02 PM
    Author     : alejandro sanchez
*/

/*//@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);*/
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.modal-lg{
  width: 1200px;
}
.board{
  width: 100%;
  /*margin: 60px auto;*/
  min-height: 500px;
  background: #fff;
  /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
  position: relative;
  /* border-bottom: 0; */
  /* width: 80%; */
  /* margin: 40px auto;*/
  margin-bottom: 0;
  box-sizing: border-box;

}

.board > div.board-inner{
  background: #fafafa;
  background-size: 30%;
}

p.narrow{
  width: 60%;
  margin: 10px auto;
}

.liner{
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  /* background-color: #ffffff; */
  border: 0;
  border-bottom-color: transparent;
}

span.round-tabs{
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tabs.one{
  color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
  background: #fff !important;
  border: 2px solid #ddd;
  color: rgb(34, 194, 34);
}

span.round-tabs.two{
  color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #febe29;
}

span.round-tabs.three{
  color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #3e5e9a;
}

span.round-tabs.four{
  color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #f1685e;
}

span.round-tabs.five{
  color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
  background: #fff !important;
  border: 2px solid #ddd;
  color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
  background: #fafafa;
}
.nav-tabs > li {
  width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity:0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
  transition:0.1s ease-in-out;

}
li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity:1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;

}
.nav-tabs > li a{
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.nav-tabs > li a:hover{
  background: transparent;
}

.tab-content{
}
.tab-pane{
  position: relative;
  padding-top: 20px;
}
.tab-content .head{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.btn-outline-rounded{
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 25px;
}

.btn.green{
  background-color:#5cb85c;
  /*border: 2px solid #5cb85c;*/
  color: #ffffff;
}

@media( max-width : 585px ){

  .board {
    width: 90%;
    height:auto !important;
  }

  span.round-tabs {
    font-size:16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head{
    font-size:20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height:50px;
  }

  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .btn-outline-rounded {
    padding:12px 20px;
  }
}




div.headline {
  font-size: 1.5em;
  border-bottom: 1px solid #C4E17F;
  text-align: left;
  margin: 25px 0px 15px;
  color: #999;
  font-family: 'Open Sans';
}



.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }
.checkbox input[type="checkbox"] {
  opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
  border-radius: 50%; }
.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.onCursor{
  cursor: pointer;
}			

legend a {
  color: inherit;
}
legend.legendStyle {
  padding-left: 5px;
  padding-right: 5px;
}
fieldset.fsStyle {
  font-family: Verdana, Arial, sans-serif;
  font-size: small;
  font-weight: normal;
  border: 1px solid #BEF781;
  padding: 4px;
  margin: 5px;
}
legend.legendStyle {
  font-size: 90%;
  color: #888888;
  background-color: transparent;
  font-weight: bold;
}

legend {
  width: auto;
  border-bottom: 0px;
}


.has-success .form-control {
  border-color: #ceeead;
}


.horasdia{
  background-color: #ddd
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
} 